## -*- mode: gitignore; -*-

## Terraform Files
.terraform
.terraform*
*.tfstate
*.tfstate.backup

## VSCode
.vscode

## Mac
.DS_Store
Desktop.ini
.AppleDouble
.LSOverride
._*
Thumbs.db

## Compiled Code
*.pyc

## Auto Backup Files
*~.nib
*.swp
*~

## Jupyter
.ipynb_checkpoints

## Node modules
*node_modules/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
logs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
.static_storage/
.media/
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# django staticfiles
/static

# mypy
.mypy_cache/

# data files
*.avro


out_pcr_jose/model_rf.pkl
out_pcr_jose/features.csv
out_pcr_jose/features_engineered.csv
out_pcr_jose/features_join_preview.csv
*.pkl
# Ignore Rebecca's large feature files
out_pcr_rebecca/features.csv
out_pcr_rebecca/features_engineered.csv
out_pcr_rebecca/features_join_preview.csv
CoW_Centerline_Extraction/
jose_json_outputs/
out_pcr_rebecca/
# Output directories
*_outdir/
*_outputs/
output/
out/
feature_outdir/

# Output directories (keep only small examples in git)
output/
graph_pruning_outdir/
thinning_based_outdir/
centerline_outputs/
test_outputs/
*.vtp
*.vtk
*-out/
logs/
