# --- Python/Environment ---
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
env/

# --- Pipeline Outputs (Ignore these, they are artifacts) ---
ml_pipeline/experiments/
*.json
!config_pcr.yaml

# --- System/IDE ---
.DS_Store
.vscode/
.idea/